{% extends 'clothapp/masterpage.html' %}
{% load static %}
{% block content %}
    <style>
    table{
        position: relative;
        bottom: 80px;
       border: 1px solid black;
       border-radius:5px;
       width: 320px;
       height: 380px;
       padding-right: 50px;
       padding-left: 20px;
       padding-bottom: 30px;
     background-image: url(https://images.unsplash.com/photo-1608178398319-48f814d0750c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fHw%3D);
       
       
    }
    .pswrd{
        padding-left: 400px;
        padding-top:120px;
    }
    h6{
        color: white;
    }
    

    input{
        
        width: 250px;
        border-radius: 5px;
    }

    button{
        width: 250px;
        color: white;
        background-color:rgb(107, 4, 107);
        border-radius: 5px;
    }
    h1{
        color:white;
        

    }

    .containerfluid{
        height: 600px;
    
    }
    
    </style>

    <div class="containerfluid" style="background-image: url(https://images.unsplash.com/photo-1533134755454-9549758f0e06?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);background-size: cover;background-repeat: initial;">
        <form action="" method="POST">
            {% csrf_token %}
          <div class="row">
            <div class="col3"></div>
            <div class="col6">
                <div class="pswrd">
                <table>
                    <tr>
                    <th><h1>Forget Password?</h1></th>
                    </tr>
                    <tr>
                    <th><h6>we'll send an email to your registered address,please click the link provided in the email inorder to  change your password</h6></th>
                    </tr>
                    <tr>
                    <th><input type="text" name="" id="" placeholder="Name"></th>
                    </tr>
                    <tr>
                    <th><input type="email" name="" id="" placeholder="Email"></th>
                    </tr>
                    <tr>
                    <th><button onclick="showAlert()">send</button></th>
                    </tr>
                </table>
            </div>

            </div>
            <div class="col3"></div>
          </div>
        </form>
    </div>




    {% endblock %}