{% extends 'clothapp/masterpage.html' %}
{% load static %}

{% block content %}

<div>
    <h1 style="background-color: palevioletred;">Payment</h1>
</div>

<div><h6>Enter your Payment details</h6></div>


<div class="pd">
    <table>
    <form action="">
       <tr>
        <td><label for="" style="color: black; padding-left: 300px;">card number</label></td>
        <td><input type="text"></td>
        <td><label for="" style="color: black;">country</label></td>
        <td><input type="text"></td>
    </tr>
    </form>
</table>
</div>

<div>
    <h3>Or</h3>
</div>


<div>
    Cash on delivery
</div>
<div>
    <table>
        <tr>
           <td><label for="" style="color: black; padding-left: 400px;">Enter your full address</label></td>
           <td><input type="text" name="" id=""></td>
        </tr>

    </table>
</div>

<div><button style="margin-top: 100px; position: relative; bottom: 50px;">Confirm Order</button></div>












{% endblock %}